<ion-view class="bookmarks-view">
  <ion-nav-title>
    <span>Legal</span>
  </ion-nav-title>
  <ion-content>
    <div class="posts-list">
      <div class="post-heading item item-text-wrap">
        <h2 class="post-title">Privacy Policy of TrumpMEMES</h2>
      </div>
      <div class="post-content item item-text-wrap" post-content>
        <p class="post-excerpt" dynamic-anchor-fix>
            <p class="post-author">
            This Application collects some Personal Data from its Users.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Data Controller and Owner
          </p>
          <p class="post-author">
            Kraftwerking, LLC
          </p>
          <p class="post-author" style="font-weight: bold;">
            Types of Data collected
          </p>
          <p class="post-author">
            Among the types of Personal Data that this Application collects, by itself or through third parties, there are: Cookies and Usage data.
          </p>
          <p class="post-author">
            Other Personal Data collected may be described in other sections of this privacy policy or by dedicated explanation text contextually with the Data collection.
          </p>
          <p class="post-author">
            The Personal Data may be freely provided by the User, or collected automatically when using this Application. Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party services used by this Application, unless
            stated otherwise, serves to identify Users and remember their preferences, for the sole purpose of providing the service required by the User.
          </p>
          <p class="post-author">
            Failure to provide certain Personal Data may make it impossible for this Application to provide its services. Users are responsible for any Personal Data of third parties obtained, published or shared through this Application and confirm that they have
            the third party's consent to provide the Data to the Owner.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Mode and place of processing the Data
          </p>
          <p class="post-author" style="font-weight: bold;">
            Methods of processing
          </p>
          <p class="post-author">
            The Data Controller processes the Data of Users in a proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.
          </p>
          <p class="post-author">
            The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Data Controller, in some cases, the Data may be accessible to certain
            types of persons in charge, involved with the operation of the site (administration, sales, marketing, legal, system administration) or external parties (such as third party technical service providers, mail carriers, hosting providers, IT
            companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Data Controller at any time.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Place
          </p>
          <p class="post-author">
            The Data is processed at the Data Controller's operating offices and in any other places where the parties involved with the processing are located. For further information, please contact the Data Controller.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Retention time
          </p>
          <p class="post-author">
            The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.
          </p>
          <p class="post-author" style="font-weight: bold;">
            The use of the collected Data
          </p>
          <p class="post-author">
            The Data concerning the User is collected to allow the Owner to provide its services, as well as for the following purposes: Analytics and Advertising.
          </p>
          <p class="post-author">
            The Personal Data used for each purpose is outlined in the specific sections of this document.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Detailed information on the processing of Personal Data
          </p>
          <p class="post-author">
            Personal Data is collected for the following purposes and using the following services:
          </p>
          <p class="post-author" style="font-weight: bold;">
            Advertising
          </p>
          <p class="post-author">
            This type of services allows User Data to be utilized for advertising communication purposes displayed in the form of banners and other advertisements on this Application, possibly based on User interests.
          </p>
          <p class="post-author">
            This does not mean that all Personal Data are used for this purpose. Information and conditions of use are shown below. Some of the services listed below may use Cookies to identify Users or they may use the behavioral retargeting technique, i.e. displaying
            ads tailored to the User’s interests and behavior, including those detected outside this Application. For more information, please check the privacy policies of the relevant services.
          </p>
          <p class="post-author" style="font-weight: bold;">
            AdMob (AdMob Google Inc.)
          </p>
          <p class="post-author">
            AdMob is an advertising service provided by AdMob Google Inc.
          </p>
          <p class="post-author">
            Personal Data collected: Cookies and Usage data.
          </p>
          <p class="post-author">
            Place of processing: US – Privacy Policy
          </p>
          <p class="post-author" style="font-weight: bold;">
            Apple iAd (Apple Inc.)
          </p>
          <p class="post-author">
            Apple iAd is an advertising service provided by Apple Inc.
          </p>
          <p class="post-author">
            Personal Data collected: Cookies and Usage data.
          </p>
          <p class="post-author">
            Place of processing: US – Privacy Policy – Opt out
          </p>
          <p class="post-author" style="font-weight: bold;">
            MoPub (MoPub Inc.)
          </p>
          <p class="post-author">
            MoPub is an advertising service provided by MoPub Inc. Personal Data collected: Cookies and Usage data. Place of processing: US – Privacy Policy
          </p>
          <p class="post-author" style="font-weight: bold;">
            StartApp (StartApp, Inc.)
          </p>
          <p class="post-author">
            StartApp is an advertising service provided by StartApp, Inc. Personal Data collected: Cookies and Usage data. Place of processing: US – Privacy Policy
          </p>
          <p class="post-author" style="font-weight: bold;">
            Analytics
          </p>
          <p class="post-author">
            The services contained in this section enable the Owner to monitor and analyze web traffic and can be used to keep track of User behavior.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Amplitude (Sonalight, Inc.)
          </p>
          <p class="post-author">
            Amplitude is an analytics service provided by Sonalight, Inc. This service is designed for mobile apps analytics and can collect various information about your phone, highlighted in the Amplitude privacy policy.
          </p>
          <p class="post-author">
            Personal Data collected: Cookies and Usage data.
          </p>
          <p class="post-author">
            Place of processing: US – Privacy Policy
          </p>
          <p class="post-author" style="font-weight: bold;">
            Further information about Personal Data
          </p>
          <p class="post-author" style="font-weight: bold;">
            Analytics
          </p>
          <p class="post-author">
            You can opt-out from Amplitude Analytics in the System Settings.
          </p>
            <p class="post-author" style="font-weight: bold;">
Advertising (mNectar)
          </p>
          <p class="post-author">
            mNectar is an advertising service provided by mNectar, Inc.
          </p>
          <p class="post-author">
            Personal data collected: Cookie and Usage data
          </p>
          <p class="post-author">
            Place of processing: USA
          </p>
          <p class="post-author">
            Privacy Policy:
          </p>
          <p class="post-author">
            http://www.mnectar.com/contact/attachment/mnectar-privacy-policy-feb-2015-2/
          </p>
          <p class="post-author" style="font-weight: bold;">
            Additional information about Data collection and processing
          </p>
          <p class="post-author" style="font-weight: bold;">
            Legal action
          </p>
          <p class="post-author">
            The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.
          </p>
          <p class="post-author">
            The User declares to be aware that the Data Controller may be required to reveal personal data upon request of public authorities.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Additional information about User's Personal Data
          </p>
          <p class="post-author">
            In addition to the information contained in this privacy policy, this Application may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.
          </p>
          <p class="post-author" style="font-weight: bold;">
            System Logs and Maintenance
          </p>
          <p class="post-author">
            For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System Logs) or use for this purpose other Personal Data (such as IP Address).
          </p>
          <p class="post-author" style="font-weight: bold;">
            Information not contained in this policy
          </p>
          <p class="post-author">
            More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.
          </p>
          <p class="post-author" style="font-weight: bold;">
            The rights of Users
          </p>
          <p class="post-author">
            Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or
            corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the
            contact information set out above.
          </p>
          <p class="post-author">
            This Application does not support “Do Not Track” requests. To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read their privacy policies.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Changes to this privacy policy
          </p>
          <p class="post-author">
            The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom.
            If a User objects to any of the changes to the Policy, the User must cease using this Application and can request that the Data Controller removes the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal
            Data the Data Controller has about Users.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Information about this privacy policy
          </p>
          <p class="post-author">
            The Data Controller is responsible for this privacy policy, prepared starting from the modules provided by Iubenda and hosted on Iubenda's servers.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Definitions and legal references
          </p>
          <p class="post-author" style="font-weight: bold;">
            Personal Data (or Data)
          </p>
          <p class="post-author">
            Any information regarding a natural person, a legal person, an institution or an association, which is, or can be, identified, even indirectly, by reference to any other information, including a personal identification number.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Usage Data
          </p>
          <p class="post-author">
            Information collected automatically from this Application (or third party services employed in this Application), which can include: the IP addresses or domain names of the computers utilized by the Users who use this Application, the URI addresses (Uniform
            Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server's answer (successful outcome, error,
            etc.), the country of origin, the features of the browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent on each page within the Application) and the details about the path followed
            within the Application with special reference to the sequence of pages visited, and other parameters about the device operating system and/or the User's IT environment.
          </p>
          <p class="post-author" style="font-weight: bold;">
            User
          </p>
          <p class="post-author">
            The individual using this Application, which must coincide with or be authorized by the Data Subject, to whom the Personal Data refers.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Data Subject
          </p>
          <p class="post-author">
            The legal or natural person to whom the Personal Data refers.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Data Processor (or Data Supervisor)
          </p>
          <p class="post-author">The natural person, legal person, public administration or any other body, association or organization authorized by the Data Controller to process the Personal Data in compliance with this privacy policy.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Data Controller (or Owner)
          </p>
          <p class="post-author">The natural person, legal person, public administration or any other body, association or organization with the right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods of processing of Personal
            Data and the means used, including the security measures concerning the operation and use of this Application. The Data Controller, unless otherwise specified, is the Owner of this Application.
          </p>
          <p class="post-author" style="font-weight: bold;">
            This Application
          </p>
          <p class="post-author">The hardware or software tool by which the Personal Data of the User is collected.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Cookies
          </p>
          <p class="post-author">Small piece of data stored in the User's device.
          </p>
          <p class="post-author" style="font-weight: bold;">
            Legal information
          </p>
          <p class="post-author">Notice to European Users: this privacy statement has been prepared in fulfillment of the obligations under Art. 10 of EC Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC, as revised by Directive 2009/136/EC, on the subject
            of Cookies.
          </p>
          <p class="post-author">This privacy policy relates solely to this Application.
          </p>
          <p class="post-author">Latest update: April 14, 2016
          </p>
      </div>
    </div>
  </ion-content>
</ion-view>
