<ion-view class="bookmarks-view">
  <ion-nav-title>
    <span>More</span>
  </ion-nav-title>
  <ion-content>
    <div class="posts-list">
      <div class="post-heading item item-text-wrap">
        <h2 class="post-title">TrumpMEMES</h2>
        <p class="post-author">
          The Trump meme generator.
        </p>
      </div>
      <div class="post-content item item-text-wrap" post-content>
        <p class="post-excerpt" dynamic-anchor-fix>
          <p class="post-author">
            Do you have a suggestion? Write us an email!
          </p>
          <p class="post-author">
            <div class="read-more col col-center col-100">
              <a ui-sref="#" class="button button-small ion-heart button-block button-assertive">
                          Rate TrumpMEMES
                        </a>
              <a ng-click="sendFeedback()" class="button button-small ion-email button-block button-assertive">
                                    Feedback
                                  </a>
            </div>
          </p>
          <p class="post-author">
            <div class="read-more col col-center col-100">
              <a ui-sref="app.legal" class="button button-small button-block button-assertive">
                                    Privacy Policy
                                  </a>
            </div>
          </p>
          <p class="post-author" style="font-size: small;">
            TrumpMEMES v1.0 &copy; 2016-2019 Kraftwerking, LLC
            <br>
            kraftwerking.com
          </p>
      </div>
    </div>
  </ion-content>
</ion-view>
