/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
// $light:                           #fff !default;
$stable:                          $theme-color-7 !default;
$positive:                        $theme-color-1 !default;
$calm:                            $theme-color-4 !default;
// $balanced:                        #33cd5f !default;
$energized:                       $theme-color-5 !default;
$assertive:                       $theme-color-2 !default;
$royal:                           $theme-color-6 !default;
$dark:                            #444 !default;


// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;
