// THEME 1
// $theme-color-1: #387ef5;
// $theme-color-2: #FF4C4C;
// $theme-color-3: #3E454C;

// THEME 2
// $theme-color-1: #633CA6;
// $theme-color-2: #F4C447;
// $theme-color-3: #414DA8;

// THEME 3
$theme-color-1: #820408;
$theme-color-2: #2b325f;
$theme-color-3: #41484f;
$theme-color-4: #5d69b6;
$theme-color-5: #43cee6;
$theme-color-6: #6641e2;
$theme-color-7: #D2691E;
